
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  	@apply leading-[normal] m-0;
}
*, ::before, ::after { border-width: 0; }
/* Custom scrollbar hide styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit (Chrome, Safari, etc.) */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}


/* src/assets/fonts/fonts.css */

/* Iceland font */
@font-face {
  font-family: 'Iceland';
  src: url('./Assets/Fonts/Iceland/Iceland-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Inter font */
@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Assets/Fonts/Inter/static/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Repeat the same pattern for Khand, Lato, Poppins, and Roboto */

/* Khand font */
@font-face {
  font-family: 'Khand';
  src: url('./Assets/Fonts/Khand/Khand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Khand';
  src: url('./Assets/Fonts/Khand/Khand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Khand';
  src: url('./Assets/Fonts/Khand/Khand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Khand';
  src: url('./Assets/Fonts/Khand/Khand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Khand';
  src: url('./Assets/Fonts/Khand/Khand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Lato font */
@font-face {
  font-family: 'Lato';
  src: url('./Assets/Fonts/Lato/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./Assets/Fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./Assets/Fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./Assets/Fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./Assets/Fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Poppins font */
@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Assets/Fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Roboto font */
@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Fonts/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
  
/*             Feedback Scale                     */
.scale-container {
  justify-content: space-between;
  width: 100%;
  
  margin: 0 auto;
}

.scale-label {
  flex: 0 0 100px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.scale-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.scale-line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #004c4c;
  z-index: 0;
}

.scale-dot {

  border-style: solid;
  border-color: #004c4c;
  border-radius: 50%;
  background-color: #B190B6;
  z-index: 1;
}
.scale-dot:hover {
  background-color:#B190B6 ;
  border-color: #FFFFFF;
}

.scale-dot.active {
  background-color: #B190B6;
  border-color: #FFFFFF;
}

/*             Feedback Scale                   */


/* Spinning loader */

.loader {
  border-top-color: #3498db; /* Change the color as needed */
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Spinning loader */

/* Gradient for home page */

.gradient-corner {
  position: relative;
  z-index: 0; /* Ensure the background is behind the content */
}

.gradient-corner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: 
    linear-gradient(135deg,  #5a0096, #ffffff),
    linear-gradient(225deg, #8000D7, #ffffff);
    /* linear-gradient(90deg,  #8000D7, #ffffff),
    linear-gradient(90deg, #8000D7, #ffffff),
    linear-gradient(90deg, #8000D7, #ffffff),
    linear-gradient(90deg, #8000D7, #ffffff) */
    
  background-size: 
    30% 10%, 30% 10%;
    /* 10% 5% , 20% 20%,
    20% 10%, 20% 20% */
    
     /* Set background size for each gradient */
  background-repeat: no-repeat; 

  background-position: 
    top 8% left -15%, top 8% right -20%;
    /* top 1000px left 0px, top 1000px right 0px,
    top 0px left 0px, top right */
     /* Position each gradient */
  border-radius: 
    0% 80% 80% 0% , 0% 100% 0% 0%;
  filter: blur(30px);
  opacity: 0.8; 
  z-index: -1;
}
/* Gradient for home page */

/* Page Transition */

.page1-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page1-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.page1-exit {
  opacity: 1;
  transform: translateY(0);
}

.page1-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}

.page2-enter {
  opacity: 0;
  transform: translateX(20px);
}

.page2-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.page2-exit {
  opacity: 1;
  transform: translateX(0);
}

.page2-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 500ms, transform 500ms;
}


/* Navlink.css */
.navlink-container {
  display: flex;
  gap: 10px; /* Adjust gap as per your design */
}

.navlink {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  padding: 8px 0px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navlink:hover {
  background-color: #f0f0f0; /* Example hover background color */
}


#example1{
  box-shadow: -10px 0 8px -8px black, 10px 0 8px -8px black;
}