@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+FELL+Double+Pica:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  	@apply leading-[normal] m-0;
}
*, ::before, ::after { border-width: 0; }
/* Custom scrollbar hide styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit (Chrome, Safari, etc.) */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}




.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 200ms ease;
}

.dropdown-triangle.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 200ms ease;
}


.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 200ms ease;
}

#comment-box {
	position: absolute;
}

#comment-box::after {
	content: "";
	position: absolute;
	height: 20px;
	width: 25px;
	top: -12px;
	right: .5rem;
	background-color: #F3F3F3;
	clip-path: polygon(100% 100%, 0% 100%, 50% 0%);
}

.dropdown-menu::before{
  position: absolute;
  top: 10px;
  right: 20px;
  content: '';
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
}


.dropdown-menu ul li:hover a{
  color: black;
  cursor: pointer;
}

.dropdown-menu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}


.dropdownItem img{
  max-width: 20px;
  opacity: 0.5;
  transition: 100ms;
}


/*             Feedback Scale                     */
.scale-container {
  justify-content: space-between;
  width: 100%;
  
  margin: 0 auto;
}

.scale-label {
  flex: 0 0 100px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.scale-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.scale-line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #004c4c;
  z-index: 0;
}

.scale-dot {

  border-style: solid;
  border-color: #004c4c;
  border-radius: 50%;
  background-color: #B190B6;
  z-index: 1;
}
.scale-dot:hover {
  background-color:#B190B6 ;
  border-color: #FFFFFF;
}

.scale-dot.active {
  background-color: #B190B6;
  border-color: #FFFFFF;
}
/*             Feedback Scale                   */

/* Spinning loader */

.loader {
  border-top-color: #3498db; /* Change the color as needed */
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
