.custom-before::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse, rgba(128, 0, 215, 1) 0%, rgba(0, 0, 0, 0) 70%) 10% 10% / 37.438rem 37.438rem no-repeat,
              radial-gradient(ellipse, rgba(128, 0, 215, 1), rgba(0, 0, 0, 0) 70%) 50% 50% / 300px 300px no-repeat,
              radial-gradient(circle, rgba(128, 0, 215, 1), rgba(0, 0, 0, 0) 70%) 80% 80% / 400px 400px no-repeat;
  filter: blur(10px);
}