.slider-one .slick-slide>div {
  transform: scale(1);
  opacity: .5;
  transition: transform .5s cubic-bezier(.4, 0, .2, 1);
}

.slider-one .slick-center>div {
  transform: scale(1.25);
  opacity: 1;
}


/* Second Slider */


.slider-two .slick-slide>div {
  transform: scale(.834);
  opacity: 1;
  margin-left: -3vw;
  margin-right: -3vw;
  transition: transform .5s cubic-bezier(.4, 0, .2, 1);
}

.slider-three .slick-slide>div {
  transform: scale(1);
  opacity: 1;
  margin-left: 0vw;
  margin-right: 0vw;
  transition: transform .5s cubic-bezier(.4, 0, .2, 1);
}

.slider-two .slick-center>div {
  opacity: 1;
  transform: scale(1);
}

.slider-two .slick-slide {
  position: relative;
  filter: blur(2px);
  z-index: 6;
}
.slider-two .slick-center {
  z-index: 999;
  filter: blur(0px); 
}
.slider-two .slick-center + .slick-slide {
filter: blur(2px);

  z-index: 6;
}


