

 .zoom-in {
  transition: transform 6s ease-in, opacity 3s ease-in; /* Adjust the duration and easing as needed */
    transform: scale(3000); /* Adjust the scale factor for the desired zoom level */
    transform-origin:50% 57%;
    opacity: 0;
  }

  .zoom-in.zoomed {
    opacity: 1;
    transform: scale(0); /* Opacity when zoomed */
}

  body {
    overflow: none;
}
  